<app-navbar></app-navbar>

 <div class="container">
  <div class="content first-content">
      <div class="first-column">
          <h2 class="title title-primary">Bata sua meta</h2>

          <div class="settings-row">
            <p class="description description-primary">Objetivo: {{ goal }} ml</p>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-icon [icon]="['fas', 'gear']"></fa-icon>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <label for="goalRange" class="form-label">Objetivo: {{ goal }}ml</label>
                  <input type="range" class="form-range" min="500" max="4000" step="250" id="goalRange" [(ngModel)]="goal" (change)='updateSettings()'>
                </li>
                <li>
                  <label for="cupRange" class="form-label">Número de copos: {{ numberOfCups }}</label>
                  <input type="range" class="form-range" min="1" max="12" step="1" id="cupRange" [(ngModel)]="numberOfCups" (change)='updateSettings()'>
                </li>
              </ul>
            </div>
          </div>
                        
          <div class="cup">
            <div *ngIf="percentage < 100" class="remained" id="remained">
              <span id="liters">{{ remained }} ml</span>
              <small> Restantes</small>
            </div>

            <div [ngStyle]="{height: percentageHeight}" *ngIf="percentage > 1" class="percentage">
              {{ percentage }}%
            </div>
          </div>
      </div>    

      <div class="second-column">
          <p class="description description-second">Selecione o tamanho do copo consumido para adicionar ao total</p>
          <div class="cups">
              <div
                *ngFor="let cup of cups, index as i"
                class="cup cup-small"
                (click)="clickCup(i)"
                [ngClass]="{ full: cup.clicked }"
              >
                {{ cup.size }}
              </div>
            </div>
      </div>
  </div>
 
</div>